apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: backend-deployment 
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: noorulain26/docker-mern-nginx-bezkoder-ui-1:latest
          ports:
            - containerPort: 6868
          env:
            - name: MONGO_URI
              value: mongodb://mongo-service:27017/mydb
            - name: PORT
              value: "5000"
